* {
  padding: 0;
  margin: 0;
}

/* img {
  display: block;
} */

body {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

/* Начало стр. index */

/* ========= HEADER ============= */
header {
  height: 75px;
  background: #222222;
}

.head {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  align-items: center;
}

.head__logo {
  width: 111px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head__navigation {
  width: 168px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_btn {
  display: flex;
  width: 32px;
  height: 23px;
  border: none;
  background-color: transparent;
}

.menu_btn-item {
  display: block;
  margin: auto;
  width: 100%;
  height: 3px;
  background: #e8e8e8;
  position: relative;
}

.cart {
  position: relative;
}

.cart-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  background: #f16d7f;
  border-radius: 50%;
  color: #ffffff;
  position: absolute;
  top: -8px;
  right: -9px;
  font-size: 12px;
  line-height: 14px;
}

/* ========= MAIN ============= */
/* ----BRAND---- */
.brand {
  height: 764px;
  width: 100%;
  background: #f1e4e6;
  background-image: url(../img/men_brand.png);
  background-repeat: no-repeat;
  background-position: center left 170px;
}

.brand__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222222;
  text-transform: uppercase;
  min-height: inherit;
  padding-top: 312px;
  padding-left: 523px;
}

.brand_wrap {
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
}

.the-brand {
  font-weight: 900;
  font-size: 48px;
}

.lux {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}

.fashion {
  color: #f16d7f;
}

/* ----CATEGORIES---- */
.categories {
  height: 470px;
  padding-top: 65px;
}

.categories ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.categories__content {
  list-style-type: none;
  box-sizing: border-box;
  position: relative;
  margin: 0 0 30px 0;
  display: block;
}

.categories__content img {
  display: block;
}

.categories__content h4 {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin: auto;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  width: 154px;
  display: block;
  position: absolute;
  top: 105px;
  left: 103px;
  /* background: rgba(33, 22, 22, 0.7); */
}

h4 span {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.categories__accesories {
  list-style-type: none;
  position: relative;
  width: 100%;
}

.categories__accesories img {
  display: block;
}

.accesories__h4 {
  width: 170px;
  display: block;
  position: absolute;
  top: 65px;
  left: 490px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: normal;
}

/* ----CARDS---- */
.card {
  padding-top: 96px;
}

.card form {
  padding-top: 48px;
  display: flex;
  justify-content: center;
}

.card h3 {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
  padding-bottom: 6px;
}

.card__p {
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  padding-bottom: 48px;
  text-align: center;
}

.card__items ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: repeat(2, 582px);
  gap: 30px;
}

.card__item {
  background: #f8f8f8;
}

article img {
  display: block;
}

.name {
  padding-top: 25px;
  padding-left: 16px;
  padding-right: 29px;
  width: 314px;
}

.name__h4 {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.name p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  margin-bottom: 18px;
}

.name__span {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.categories__btn {
  width: 212px;
  height: 48px;
  background: none;
  border: 1px solid #ff6a6a;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
}

.categories__btn:hover {
  background: #f16d7f;
  color: #ffffff;
}

/* ----BENEFITS---- */
.benefits {
  width: 100%;
  height: 341px;
  background: #222224;
  margin-top: 95px;
}

.box {
  display: flex;
  justify-content: space-between;
  padding-top: 103px;
}

.box__delivery {
  width: 360px;
  height: auto;
  background-image: url(../img/delivery.svg);
  background-position: top center;
  background-repeat: no-repeat;
}

.box__sales {
  width: 360px;
  height: auto;
  background-image: url(../img/sales.png);
  background-position: top center;
  background-repeat: no-repeat;
}

.box__quality {
  width: 360px;
  height: auto;
  background-image: url(../img/quality.png);
  background-position: top center;
  background-repeat: no-repeat;
}

.box-h3 {
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
  padding-top: 66px;
  text-align: center;
}

.box-text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
  padding-top: 16px;
}

/* ----MAIL---- */
.mail {
  background-image: url(../img/photo-mail.jpg);
  width: 100%;
  min-height: 448px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
  padding-top: 97px;
}

.info__left {
  background-image: url(../img/photo-mail-girl.png);
  width: 360px;
  height: 225px;
  background-position: top center;
  background-repeat: no-repeat;
}

.info-text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  padding-top: 133px;
}

.italic {
  font-style: italic;
}

.form-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscribe-mail {
  width: 557px;
  height: 61px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}

.tittle {
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  color: #222224;
}

.subtittle {
  font-weight: normal;
  font-size: 18px;
  line-height: 167.2%;
  color: #222224;
}

.form {
  display: flex;
}

.mail__chat {
  width: 256px;
  height: 49px;
  background: #e1e1e1;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  border: none;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  padding-left: 22px;
}

.button-sub {
  width: 100px;
  height: 49px;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  background: #f16d7f;
  border: none;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

/* ========= FOOTER ============= */
footer {
  width: 100%;
  height: 79px;
  background: #222224;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.rights {
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
  padding-top: 30px;
}

.footer__icons {
  padding-top: 24px;
  box-sizing: border-box;
  width: 148px;
}

.soc-icon-box {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.soc-icon-items {
  width: 32px;
  height: 32px;
  background: #ffffff;
  align-items: center;
  justify-content: center;
  display: flex;
}

.fab {
  color: black;
  font-size: 20px;
}

.fab:hover {
  color: white;
}

.soc-icon-items:hover {
  background-color: #f16d7f;
}

.soc-icon-img {
  padding: 8px 9px;
}

.soc-icon-img:hover {
  background: #ffffff;
}
/* Конец стр. index */

/* Начало стр. catalog */
.breadcrumbs {
  width: 100%;
  height: 148px;
  background: #f8f3f4;
}

.breadcrumbs_content {
  display: flex;
  justify-content: space-between;
  padding-top: 59px;
  text-transform: uppercase;
}

.arrivals {
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  font-weight: normal;
}

.breadcrumb {
  display: flex;
  justify-content: space-between;
  width: 209px;
  align-items: center;
}

.breadcrumb a {
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-align: center;
}

.breadcrumb span {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-align: center;
}

.active {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}

.catalog-card {
  padding-top: 64px;
}

/* ----FILTER---- */
.filter {
  display: flex;
  text-transform: uppercase;
  padding-top: 51px;
}

.filter__left {
  padding-right: 304px;
  width: 70px;
  height: 17px;
  display: flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.filter__left img {
  width: 15px;
  height: 10px;
  align-items: center;
}

.filter__left:hover {
  color: #ef5b70;
}

.sidebar {
  display: none;
  position: absolute;
  width: 360px;
  height: 531px;
  background: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter__right {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  width: 296px;
  height: 17px;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}

.filter-trending img {
  padding-left: 10px;
}

.filter-size img {
  padding-left: 10px;
}

.filter-price img {
  padding-left: 10px;
}
.pagination {
  display: flex;
  justify-content: center;
}

.page {
  width: 283.99px;
  height: 44px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  background: #ffffff;
  margin-top: 48px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}

.page > img {
  width: 8px;
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.page a {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  color: #c4c4c4;
  padding-top: 12px;
  padding-bottom: 13px;
}

.page a:hover {
  color: #f16d7f;
}

/* index adaptive tablet */
@media (max-width: 768px) {
  .header {
    width: 100%;
  }

  .container {
    max-width: 737px;
    width: 95%;
  }

  .brand {
    background-position: left;
    height: 367px;
    background-size: 50%;
  }

  .brand__title {
    padding-top: 138px;
    padding-left: 400px;
  }

  .the-brand {
    font-size: 44px;
    line-height: 53px;
  }

  .lux {
    font-size: 24px;
    line-height: 29px;
  }

  .categories {
    padding-top: 20px;
    height: 303px;
  }
  .categories ul {
    display: flex;
  }

  .categories__content img {
    width: 232px;
    height: 167px;
  }

  .categories__accesories img {
    height: 116px;
    width: inherit;
  }

  .categories__content {
    margin-bottom: 13px;
  }

  .categories__content h4 {
    top: 59px;
    left: 39px;
  }

  .accesories__h4 {
    top: 33px;
    left: 288px;
  }

  .card {
    padding-top: 155px;
  }

  .card__p {
    padding-bottom: 72px;
  }

  .card__items ul {
    gap: 14px;
    grid-template-columns: repeat(2, 360px);
  }

  .card form {
    padding-top: 32px;
  }

  .benefits {
    margin-top: 64px;
    height: 610px;
  }

  .box {
    flex-wrap: wrap;
    padding-left: 204px;
    padding-top: 48px;
    padding-right: 204px;
  }

  .mail {
    height: 623px;
    background-size: cover;
    background-position: -317px;
  }

  .info {
    padding-top: 64px;
    flex-direction: column;
    align-items: center;
  }

  .form-subscribe {
    padding-top: 48px;
  }
}

/* index adaptive mobile */
@media (max-width: 375px) {
  .account__btn {
    display: none;
  }

  .cart {
    display: none;
  }

  .head__navigation {
    justify-content: end;
  }

  .brand {
    max-height: 363px;
    background-image: none;
  }

  .brand__title {
    padding: 148px 56px;
  }

  .the-brand {
    font-size: 38px;
    line-height: 37px;
  }

  .lux {
    font-size: 20px;
  }

  .categories {
    padding-top: 64px;
  }

  .categories__content {
    padding-bottom: 32px;
  }

  .categories__content img {
    width: 356px;
    height: 247px;
  }

  .categories__content h4 {
    top: 98px;
    left: 94px;
  }

  .categories__accesories {
    width: 356px;
  }

  .categories__accesories img {
    display: block;
  }

  .accesories__h4 {
    top: 30px;
    left: 92px;
  }
}
