* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

/* ========= HEADER ============= */
header {
  height: 75px;
  background: #222222;
}

.head {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  align-items: center;
}

.head__logo {
  width: 111px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head__navigation {
  width: 168px;
  display: flex;
  justify-content: space-between;
}

.menu_btn {
  display: flex;
  width: 32px;
  height: 23px;
  border: none;
  background-color: transparent;
  margin-top: 30px;
}

.menu_btn-item {
  display: block;
  margin: auto;
  width: 100%;
  height: 3px;
  background: #e8e8e8;
  position: relative;
}

/* ========= MAIN ============= */
/* ----BRAND---- */
.brand {
  height: 764px;
  background: #f1e4e6;
}

/* ========= FOOTER ============= */
